/*@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700')*/

html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E6E6E8; /*1E1E1E*/
    color: #1D1C1C; /*BDBDBD*/
    letter-spacing: 0.01em;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr .1fr;
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title p {
    font-weight: 900;
    font-size: 8em;
    text-shadow: rgb(85, 85, 85) 0px 2px 3px;
    text-align: center;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.links a {
    padding: 0.9em 1.2em;
    color: inherit;
    font-weight: 600;
    font-size: 1.1em;
    text-decoration: none;
}

.links a:hover {
    background-color: #D0D0D0; /*333333*/
}